button {
  background-color: black;
  color: white;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Unica One', cursive;
}

h1 {
  font-family: 'VT323', monospace;
  font-size: 50px;
}






#hello {
  background-color: black;
  color: white;
  width: 200px;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
  float: left;
  margin-right: 0px;
  margin-left: 0px;
  float: top;
  position: absolute;
  font-family: 'Special Elite', cursive;
}

#dogType {
  width: 200px;
  height: 3em;
  text-align: center;
  background-color: black;
  margin-left: 0px;
  margin-top: 60px;
  position: absolute;
  margin-right: 0px;
  margin-bottom: 0px;
  font-family: 'Unica One', cursive;  
}

#addDog {
    background-color: black;
    color: white;
    width: 200px;
    margin-right: 0px;
    
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 15px;
  text-align: center;
  margin-left: 0px;
  margin-top: 111px;
  font-family: 'Monoton', cursive;
}

.form-group {
  margin-bottom: 50px;
}


