button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

#content {
    width: 60%;
    padding-bottom: 20px;
    padding-top: 20px;
    

}
#hello {
    background-color: black;
    color: white;
    width: 200px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;
 

}

#dogType {
    width: 200px;
    height: 3em;
    text-align: center;
    background-color: black;
 
 
   
}

#addDog {
    background-color: black;
    color: white;
    width: 200px;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
  text-align: center;
 
}